<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/User/styles.css">
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/admin">Admin</a>
            <a href="/notice">Notice <i class="fa fa-bell"></i></a>
        </nav>
    </header>
</body>

</html>