<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/User/styles.css">
</head>

<body>
    <header>
        <div>
                <img src="college_degree.png" alt="">
                <span>RBNB College</span>
        </div>
        <nav>
            
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/admission">Admission</a>
            <a href="/notice">Notice</a>
        </nav>
    </header>
</body>

</html>