@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
/* font-family: "Titillium Web", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
/* font-family: "Saira", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&family=Share+Tech&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
/* font-family: "Share Tech", sans-serif; */

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Saira', sans-serif;
}

.main-container .college-info {
    padding: 10px;
    text-align: center;
    background-color: rgb(21, 67, 96);
    color: white;
    /* font-size: 25px; */
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    word-spacing: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
    padding-right: 50px;
}

.main-container .college-info .image-container-1 {
    height: 150px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 50%;
}

.main-container .college-info .image-container-1 img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    /* border: 2px solid white; */
    object-fit: cover;
    background-size: cover;
}

.main-container .college-info .image-container-2 {
    height: 150px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 50%;
}

.main-container .college-info .image-container-2 img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-size: cover;
}

.main-container .college-info .college-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    /* align-items: center; */
    /* gap: 10px; */
}

.main-container .college-info .college-name h3{
    color: rgb(255, 243, 71);
    font-size: 21px;
    font-family: "Saira", sans-serif;
}

.main-container .college-info .college-name p{
    color: rgba(255, 243, 71, 0.938);
    font-size: 16px;
    font-family: "Saira", sans-serif;
}

.main-container .college-info .college-name .social-icons{
    max-width: 100%;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 14px;
    color: rgb(216, 216, 216);
}

header {
    background: #222222f5;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    overflow: hidden;
    /* padding: 10px 50px 10px 50px; */
}
header div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    overflow: hidden;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 243, 71);
}
header div img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    background-size: cover;
    position: absolute;
    top: -5px;
    left: 350px;
    rotate: 15deg;
    /* border-radius: 50%; */
}
header nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    margin-right: 30px;
}
header nav a:hover {
    text-decoration: underline;
    color: rgba(255, 243, 71, 0.828);
    transition: 0.3s;
    text-underline-offset: 6px;
}
header nav a:active {
    color: rgb(21, 67, 96);
}

footer {
    background: #222;
    color: #aaa;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.section-container{
    height: 700px;
    background-color: rgb(21, 67, 96);
}
/* .section-container .video-container{
    /* height: 650px; */
    /* background-color: antiquewhite; */
    /* position: absolute; 
} */
.section-container .video-container video{
    height: 650px;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
    background-color: rgb(21, 67, 96);
    opacity: 0.5;
}