<!DOCTYPE html>
<html lang="en">

<head>
    <title>RBNB College</title>
    <link rel="icon" href="/header-RBNB_Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/User/styles.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
        <%- include('../partials/header') %>

    <div class="head-container">
        <div class="college-info">
            <div class="image-container-1">
                <img src="/header-RBNB_Logo.png" alt="RBNB Logo">
            </div>
            <div class="college-name">
                <h3>Rayat Shikshan Sanstha's</h3>
                <h1>R. B. Narayanrao Borawake College (Autonomous)</h1>
                <p>Savitribai Phule Pune University</p>
                <p>Taluka Shrirampur Dist Ahmednagar
                    <span>02422-222347</span>
                </p>
                <div class="social-icons">
                    <div class="email"> <i class="fa fa-envelope"></i>
                        rbnbcollege@gmail.com</div>
                    <div class="email"> <i class="	fa fa-phone-square"></i> +91
                        8600955084</div>
                </div>
            </div>
            <div class="image-container-2">
                <img src="/karmaveer-bhaurao-patil.png" alt="Karmaveer Bhaurao Patil">
            </div>

        </div>


            <h1>Welcome to BCS Department</h1>

            <%- include('../partials/footer') %>
</body>

</html>