<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/Admin/style.css">
</head>
<body>
    <%- include('../partials/header') %>
    <h1>Welcome to BCS Department</h1>
    <%- include('../partials/footer') %>
</body>
</html>
