<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="User/styles.css">
    <link rel="icon" href="/header-RBNB_Logo.png">
</head>
<body>
    <div class="container">
        <div class="header_section">
            
        </div>
        <div>
            <nav class="navbar">
            <span><a href="./home.ejs">Home</a></span>
            <span><a href="./about.ejs">About</a></span>
            <span><a href="./login.ejs">Login</a></span>
            <span><a href="./notice.ejs">Notices</a></span>
        </nav>
        </div>
    </div>
</body>
</html>